/* Subgenre.css */

.subgenre-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ccc;
  background-color: rgba(240, 245, 245, 0.8); /* Very light silver background */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
  height: 100%; /* Takes full height of the grid cell */
  box-sizing: border-box; /* Includes padding and border in the height */
  border-radius: 10px; /* Rounded corners */
}

.subgenre-item h5 {
  margin: 5px 0; /* Provides a consistent margin for top and bottom of the h5 */
  margin-bottom: 0px; /* Space between title and description */
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.subgenre-item p {
  margin: 10px 0; /* Provides a consistent margin for top and bottom of the h5 */
  font-size: 18px;
  color: #666;
  text-align: center;
}

.subgenre-item::before {
  content: '';
  float: left;
  padding-top: 10%; /* This maintains the aspect ratio */
}
