/* Subgenre.css */

.subgenre-item {
  background-color: #f0f0f0; /* Light grey background */
  color: #333; /* Dark text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  padding-top: 50%; /* Height is half of the width */
  padding-bottom: 30px;
  position: relative;
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}

.subgenre-item h5 {
  background-color: white;
  z-index: 1;
  padding: 5px;
}

.subgenre-item::before {
  content: '';
  float: left;
  padding-top: 100%; /* This maintains the aspect ratio */
}

.subgenre-item > * {
  position: absolute;
}
